@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');


.total-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color:  #D7F6F8;
}

.about-wrapper{
    display: flex;
    margin: auto;
    justify-content: space-between;
    flex-direction: row;
    width: 50%;
    /* border: 1px solid black; */

}

.links-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 20%;
    height: 80%;
    padding: 20px;
    /* border: 1px solid black; */
}

.gmail-link {
    height: 10vmin;
    padding: 10px;
}

.linkedin-link {
    height: 9vmin;
    padding: 10px;
}


.cv {
    height: 10vmin;
    padding: 10px;
}

.text-wrapper {
    background-color: #D7F6F8;
    /* border-radius: 25px; */
    width: 78%;
    text-align: right;
    font-size: medium;
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Syne', sans-serif;
    padding: 5px;
    /* border: .5px solid black; */
}

