@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');


.total-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color:  #E3D8D3;
}

.education-wrapper{
    display: flex;
    margin: auto;
    justify-content: space-between;
    flex-direction: row;
    width: 50%;
    /* border: 1px solid black; */

}

.links-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* justify-content: space-between; */
    height: 80%;
    width: 20%;
    padding: 20px;
    /* border: 1px solid black; */
}

.icon-link{
    height: 10vmin;
    padding: 10px;
    transition: all .2s ease-in-out;
}
.icon-link:hover {
    transform: scale(1.2);
}


.text-wrapper {
    width: 78%;
    text-align: left;
    font-size: medium;
    font-family: 'Syne', sans-serif;
    padding: 5px;
    /* border: .5px solid black; */
}

.spaced-table {
    border-spacing: 10px;
}
