@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');

.header-wrapper {
    box-sizing: border-box;
    width: 50%;
    margin: auto;
    /* margin-left: 10%;
    margin-right: 10%; */
    margin-top: 5%;
    border: 5px solid black;
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    justify-content: flex-end;
    align-items: center;
}

.header-text {
    font-family: 'Playfair Display', serif;
    /* text-align: right; */
    width: 100%;
    order: 1;
}

.header-pic {
    height: 35vmin;
    padding: 2px;
    /* align-self: left; */
    float: none;
    order: 0;
}