
.navigation-wrapper {
    box-sizing: border-box;
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
    /* border: .5px solid black; */
}

.navigation-border {
    height: 13vmin;
    align-self: flex-start;
    float: none;
    order: 0;
}

