
.navigation-wrapper {
    box-sizing: border-box;
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigation-border {
    height: 20vmin;
    align-self: flex-start;
    float: none;
    order: 0;
}

